.demo-footer {
            border: 1px solid black;
            color: white;
            padding: 10px;
            margin-top: 20px;
        }
        .color-box {
            height: 30px;
            display: inline-block;
            width: 60px;
            margin: 2px;
        }